<div class="h-100 w-100 side-container">
    <div class="side-title">
        <h4>
            <fa-icon [icon]="'book-reader'"></fa-icon>
            <b> QuickView</b></h4>
    </div>
    <div class="side-main side-element">

        <div class="tools" style="flex: 0 1 5%; min-height: 2.5rem;">
            <span title="Précédent" (click)="onAction('PREVIOUS')"><fa-icon
                [icon]="'arrow-circle-left'"></fa-icon></span>
            <span class="noInteract" *ngIf="selected_data_ids && entity">{{selected_data_ids.indexOf(entity.get('id')) + 1}} / {{selected_data_ids.length}}</span>
            <span title="Suivant" (click)="onAction('NEXT')"><fa-icon [icon]="'arrow-circle-right'"></fa-icon></span>
        </div>

        <div *ngIf="entity" class="event-thread-container" style="flex: 5 1 auto;">
            <ng-container *ngFor="let item of entity | keyvalue">
                <div *ngIf="item.value" class="qv-property-container">
                    <div>{{item.key}}</div>
                    <div *ngIf="item.key !== 'rawDataContent'; else rawDataAnnotations" insTextExpanderDirective
                         [txtLimit]="100">{{item.value}}
                    </div>
                    <ng-template #rawDataAnnotations>
                        <div>
                            <ins-rawdata-annotation [data]="entity"
                                                    [rawTextContent]="item.value" [useExpander]="true" [textLimit]="100"></ins-rawdata-annotation>
                        </div>
                    </ng-template>
                </div>
            </ng-container>
        </div>

    </div>
</div>

