<div class="h-100 w-100 side-container">
    <div class="side-title">
        <h4>
            <fa-icon [icon]="'pencil-alt'"></fa-icon>
            <b> Annotation tool</b></h4>
    </div>
    <div class="side-main side-element">
        <div class="side-text-container" style="flex: 1 1 auto;" *ngIf="entity">
            <!--<p class="red-select" insTextHighlight (selectedTextEmitter)="onTextSelectionChange($event)">
                {{entity.rawDataContent}}</p>-->
            <ins-rawdata-hyperlink [data]="entity"
                                   [rawTextContent]="entity.rawDataContent"
                                   [useExpander]="false" [useHighlight]="true"
                                   (selectedTextEmitter)="onTextSelectionChange($event)"></ins-rawdata-hyperlink>
        </div>
    </div>

    <div class="side-secondary side-element">

        <div class="tools">
            <span title="Sauvegarder l'entité" (click)="saveEntity()"><fa-icon
                [icon]="'save'"></fa-icon></span>
            <span title="Clear form"><fa-icon
                [icon]="'times'"></fa-icon></span>
        </div>

        <div class="side-inline-form" [formGroup]="entityForm">
            <div class="side-input-container">
                <label class="col-form-label-sm" for="entityType">Type de l'entité</label>
                <input type="text" formControlName="entityType" class="form-control-sm" id="entityType"
                       placeholder="Type de l'entité"/>
            </div>
            <div class="side-input-container">
                <label class="col-form-label-sm" for="entityName">Nom de l'entité</label>
                <input type="text" formControlName="entityName" class="form-control-sm" id="entityName"
                       placeholder="Nom de l'entité"/>
            </div>
        </div>

    </div>
</div>
