<div [hidden]="isHidden" class="side">
    <div *ngIf="target === 'map'" class="h-100">
        <ins-side-event-thread [hidden]="_sideElement !== 'EVENT_THREAD'"></ins-side-event-thread>
        <ins-dessin [hidden]="_sideElement !== 'DESSIN'"></ins-dessin>
        <ins-quick-stats [hidden]="_sideElement !== 'QUICK_STATS'"></ins-quick-stats>
        <ins-layer-control [hidden]="_sideElement !== 'LAYER_CONTROL'"></ins-layer-control>
        <ins-map-search [hidden]="_sideElement !== 'MAP_SEARCH'"></ins-map-search>
        <ins-quick-view [hidden]="_sideElement !== 'QUICK_VIEW'"></ins-quick-view>
    </div>
    <div *ngIf="target === 'dashboard'" class="h-100">
        <ins-dashboard-manager></ins-dashboard-manager>
    </div>
    <div *ngIf="target === 'network'" class="h-100">
        <ins-side-event-thread [hidden]="_sideElement !== 'EVENT_THREAD'"></ins-side-event-thread>
        <ins-network-content [hidden]="_sideElement !== 'NETWORK_CONTENT'"></ins-network-content>
        <ins-quick-view [hidden]="_sideElement !== 'QUICK_VIEW'"></ins-quick-view>
    </div>
</div>
<ins-side-buttons [isClosed]="isHidden" [_sideElement]="_sideElement" [target]="target"
                  (closeEmitter)="displaySidePannel($event)"
                  (changeSideElementEmitter)="changeSideElement($event)"></ins-side-buttons>
