<div class="h-100 w-100 side-container">
    <div class="side-title">
        <h4>
            <fa-icon [icon]="'wifi'"></fa-icon>
            <b> Flux d'événements</b></h4>
    </div>
    <div class="side-main side-element">

        <div class="tools" style="flex: 0 1 5%; min-height: 2.5rem;">
            <span *ngFor="let action of TOOLBAR_ACTIONS" title="{{action.tooltip}}" (click)="sendAction(action.action)"
                  [ngClass]="{'selected': action.isToggled}"><fa-icon
                [icon]="action.icon"></fa-icon></span>
        </div>

        <div class="side-inline-form" style="flex: 0 1 5%; min-height: 2.5rem;">
            <div class="side-input-container">
                <input type="text" [formControl]="searchForm" class="form-control-sm" placeholder="ex: Le Monde..."/>
            </div>
        </div>

        <div *ngIf="rawDataList.data && rawDataList.data.length" insPaginationDirective [dataList]="rawDataList.data"
             (wheelEmitter)="onNewPage($event)"
             class="event-thread-container" style="flex: 1 1 auto;">
            <div class="card event-thread-card"
                 *ngFor="let rawData of rawDataList.data | slice:firstIndex:lastIndex; trackBy:trackId; first as isFirst; last as isLast;"
                 [ngClass]="{'selected': SELECTED_DATA_IDS.indexOf(rawData.id) !== -1}">
                <div class="card-img-top event-thread-header"><img
                    *ngIf="rawData.rawDataData" class="event-thread-image"
                    [src]="getImageBase64Src(rawData.rawDataData)">
                </div>
                <div class="card-body" *ngIf="isFirst || isLast ? updateIdStore(isFirst, isLast, rawData.id) : true">
                    <a class="card-title event-thread-title" (click)="onRawDataClicked(rawData.id)">
                        <fa-icon [icon]="getDataTypeIcon(rawData.rawDataType)"></fa-icon>
                        {{rawData.rawDataName | stringTruncate : 30}}</a>
                    <h6 class="card-subtitle mb-1 text-muted">{{rawData.rawDataSourceName}}</h6>
                    <p class="card-text">
                            <ins-rawdata-hyperlink [data]="rawData"
                                                   [rawTextContent]="getTruncatedString(rawData.rawDataContent, 140)"
                                                   [useExpander]="false"></ins-rawdata-hyperlink>
                    </p>
                    <a class="card-link"
                       [routerLink]="['/',{outlets: { primary: ['network', rawData.id], side: ['ins-network-side-panel'] }}]">
                        <fa-icon [icon]="'sitemap'"></fa-icon>
                    </a>
                    <a class="card-link" [routerLink]="['/raw-data', rawData.id, 'view' ]">
                        <fa-icon [icon]="getSourceTypeIcon(rawData.rawDataSourceType)"></fa-icon>
                        <span>{{rawData.rawDataCreationDate | date:'short':'':'fr-FR'}}</span>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
