<div *ngFor="let rawData of rawData ;trackBy: trackId">
    <p><a [routerLink]="['/raw-data', rawData.id, 'view' ]">{{rawData.rawDataName}}</a></p>
    <p>
        <fa-icon [icon]="'rss-square'"></fa-icon>
        <span [style.fontWeight]="'bold'">{{rawData.rawDataSourceName}}</span> {{rawData.rawDataType}} {{rawData.rawDataSubType}} <span
        [style.font-size.px]="14">{{rawData.rawDataCreationDate |
        date:'short'}}</span>
    </p>
    <p>{{rawData.rawDataContent}}</p>
    <p>{{rawData.rawDataSourceUri}}</p>
</div>
