<div class="overlay-container card" *ngIf="mapper; else noEntity">
    <div class="card-img-top event-thread-header"><img
        *ngIf="mapper.image" class="event-thread-image"
        [src]="getBase64(mapper.image)">
    </div>
    <div class="card-body">
        <a class="card-title event-thread-title"
           [routerLink]="['/',{outlets: { primary: [getLink(entity['entityType']), entity['id'], 'view'], side: ['ins-entities-side-panel']}}]"
           *ngIf="mapper.title">
            <fa-icon [icon]="'rss-square'"></fa-icon>
            {{mapper.title | stringTruncate : 30}}
        </a>
        <h6 *ngIf="mapper.subTitle" class="card-subtitle mb-1 text-muted">{{mapper.subTitle}}</h6>
        <p class="card-text" *ngIf="mapper.content">
            <small>{{mapper.content | stringTruncate : 140}}</small>
        </p>
        <a class="card-link"
           [routerLink]="['/',{outlets: { primary: [getLink(entity['entityType']), entity['id'], 'view'], side: ['ins-entities-side-panel']}}]"
           *ngIf="mapper.date">
            <fa-icon [icon]="'rss-square'"></fa-icon>
            <span>{{mapper.date | date:'short':'':'fr-FR'}}</span>
        </a>
    </div>
</div>

<ng-template class="overlay-container card" #noEntity>
    <div class="card-img-top event-thread-header">
        <span style="display: flex;justify-content: center; align-items: center; padding: 2rem; font-size: 2rem;"><fa-icon
            [icon]="'image'"></fa-icon>
        </span>
    </div>
    <div class="card-body">
        <p class="card-text">
            <small>No entity could be resolved from the input Id.</small>
        </p>
    </div>
</ng-template>
