<div class="analytics-container">
    <div class="row justify-content-center pt-3 pb-2">
        <div class="col-md-11 analytics-parts analytics-header-container">
            <h2><span>Analytics</span></h2>
            <div>
                <span [ngStyle]="{'color': getAlertThreshold()[0]}"><fa-icon
                    [icon]="'exclamation-triangle'"></fa-icon> = 0 </span>
                <span [ngStyle]="{'color': getAlertThreshold()[1]}"><fa-icon
                    [icon]="'exclamation-triangle'"></fa-icon> = 1 </span>
                <span [ngStyle]="{'color': getAlertThreshold()[2]}"><fa-icon
                    [icon]="'exclamation-triangle'"></fa-icon> > 1 </span>
                <span [ngStyle]="{'color': getAlertThreshold()[3]}"><fa-icon
                    [icon]="'exclamation-triangle'"></fa-icon> > 3 </span>
            </div>
            <div class="btn-group flex-btn-group-container">
                <button type="submit"
                        class="btn btn-info btn-sm" (click)="gridView = !gridView">
                    <fa-icon [icon]="gridView ? 'table' : 'th'"></fa-icon>
                    <span class="d-none d-md-inline">Grid View</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row justify-content-center pt-2 pb-3">
        <div class="col-md-11 analytics-parts analytics-search-container">
            <ins-insight-paginate-search #bidou [targetEntity]="'biographics'" [urlBase]="'/analytics'"
                                         (resultEmitter)="onResultQueryReceived($event)"
                                         (resultParam)="onNewResultParam($event)"
                                         [queryParam]="page"></ins-insight-paginate-search>
        </div>
    </div>
    <div class="row justify-content-center pt-2 pb-2">
        <div class="col-md-11 analytics-parts analytics-table-container">
            <ins-analytics-table *ngIf="!gridView" [biographicsScores]="biographicsScores"></ins-analytics-table>
            <ins-analytics-grid *ngIf="gridView" [biographicsScores]="biographicsScores"></ins-analytics-grid>
        </div>
    </div>

    <div *ngIf="biographics && biographics.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="resultParam.totalItems"
                            [itemsPerPage]="resultParam.size"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="resultParam.totalItems" [(page)]="page"
                            [pageSize]="resultParam.size"
                            [maxSize]="5"
                            [rotate]="true" [boundaryLinks]="true"
                            (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
