<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="location">
            <h2><span jhiTranslate="insightApp.location.detail.title">Location</span> {{location.id}}</h2>
            <hr>
            <ins-alert-error></ins-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="insightApp.location.locationName">Location Name</span></dt>
                <dd>
                    <span>{{location.locationName}}</span>
                </dd>
                <dt><span jhiTranslate="insightApp.location.locationType">Location Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'insightApp.LocationType.' + location.locationType}}">{{location.locationType}}</span>
                </dd>
                <dt><span jhiTranslate="insightApp.location.locationCoordinates">Location Coordinates</span></dt>
                <dd>
                    <span>{{location.locationCoordinates}}</span>
                </dd>
                <dt><span jhiTranslate="insightApp.location.locationImage">Location Image</span></dt>
                <dd>
                    <div *ngIf="location.locationImage">
                        <a (click)="openFile(location.locationImageContentType, location.locationImage)">
                            <img [src]="'data:' + location.locationImageContentType + ';base64,' + location.locationImage" style="max-width: 100%;" alt="location image"/>
                        </a>
                        {{location.locationImageContentType}}, {{byteSize(location.locationImage)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="insightApp.location.locationSymbol">Location Symbol</span></dt>
                <dd>
                    <span>{{location.locationSymbol | stringTruncate : 30}}</span>
                </dd>
                <dt><span jhiTranslate="insightApp.location.externalId">External Id</span></dt>
                <dd>
                    <span>{{location.externalId}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/location', location.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>

            <button type="button"
                    [routerLink]="['/',{outlets: { primary: ['network', location.id], side: ['ins-network-side-panel'] }}]"
                    class="btn btn-primary">
                <fa-icon [icon]="'sitemap'"></fa-icon>&nbsp;<span> Envoyer en réseau</span>
            </button>
        </div>
    </div>
</div>
