<div class="mt-lg-2 mb-lg-3 shadow p-3 mb-5 bg-wight rounded" [formGroupName]="visualisationCreationFormName">
    <div class="p-lg-3">
        <h5>Type : {{visualisationParameters.visualizationType}}</h5>
        <div class="form-group">
            <label class="form-control-label" for="field_visualizationTitle">Titre de la visualisation</label>
            <input type="text" formControlName="visualizationTitle" class="form-control" id="field_visualizationTitle"/>
            <div
                [hidden]="!(f.visualizationTitle?.dirty && f.visualizationTitle?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!f.visualizationTitle?.errors?.required">
                    This field is required.
                </small>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <label class="col-form-label-sm" for="field_indexPatternId">Index Pattern Cible</label>
                <select class="form-control" formControlName="indexPatternId" id="field_indexPatternId">
                    <option [ngValue]="entity.indexPatternId"
                            *ngFor="let entity of mappingInfo; trackBy: trackIndexById">
                        {{entity.indexPatternName}}
                    </option>
                </select>
            </div>
            <div *ngIf="visualisationParameters.indexPatternId != ''"
                 [ngClass]="visualisationParameters.visualizationType === 'VISU_TIMELINE' ? 'col-4' : 'col'">
                <label class="col-form-label-sm" for="field_indexPatternFieldTarget">Target field</label>
                <select class="form-control" formControlName="indexPatternFieldTarget"
                        id="field_indexPatternFieldTarget">
                    <option [ngValue]="field.fieldName" *ngFor="let field of getSelectedIndexPattern().fields;">
                        {{field.fieldName}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="col" *ngIf="visualisationParameters.visualizationType === 'VISU_TIMELINE'">
                <label class="col-form-label-sm" for="field_timeFromFilter">Date de début</label>
                <input type="date" class="form-control" formControlName="timeFromFilter" id="field_timeFromFilter"/>
            </div>
            <div class="col" *ngIf="visualisationParameters.visualizationType === 'VISU_TIMELINE'">
                <label class="col-form-label-sm" for="field_timeToFilter">Date de Fin</label>
                <input type="date" class="form-control" formControlName="timeToFilter" id="field_timeToFilter"/>
            </div>
            <div class="col" *ngIf="visualisationParameters.visualizationType === 'VISU_TIMELINE'">
                <label class="col-form-label-sm" for="field_timeInterval">Intervalle</label>
                <select class="form-control" formControlName="timeInterval"
                        id="field_timeInterval">
                    <option value="1s">1 seconde</option>
                    <option value="1m">1 minute</option>
                    <option value="1h">1 heure</option>
                    <option value="1d">1 jour</option>
                    <option value="1w">1 semaine</option>
                    <option value="1M">1 mois</option>
                    <option value="1y">1 an</option>
                </select>
            </div>
        </div>
    </div>
</div>
