<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="netLink">
            <h2><span jhiTranslate="insightApp.netLink.detail.title">Net Link</span> {{netLink.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="insightApp.netLink.description">Description</span></dt>
                <dd>
                    <span>{{netLink.description}}</span>
                </dd>
                <dt><span jhiTranslate="insightApp.netLink.nom">Nom</span></dt>
                <dd>
                    <span>{{netLink.nom}}</span>
                </dd>
                <dt><span jhiTranslate="insightApp.netLink.type">Type</span></dt>
                <dd>
                    <span>{{netLink.type}}</span>
                </dd>
                <dt><span jhiTranslate="insightApp.netLink.level">Level</span></dt>
                <dd>
                    <span>{{netLink.level}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/net-link', netLink.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
