<div class="side-buttons" [ngStyle]="{'right.px': isClosed ? 0 : 408}">
    <span (click)="closePanel(!isClosed)"><fa-icon [icon]="isClosed ? 'angle-left' : 'angle-right'"></fa-icon></span>
    <span *ngIf="!isClosed && target === 'map'" (click)="showEventThread(true)" [ngClass]="{'isDisplayed' : _showEventThread}"><fa-icon
        [icon]="'wifi'"></fa-icon></span>
    <span *ngIf="!isClosed && target === 'map'" (click)="showEventThread(false)" [ngClass]="{'isDisplayed' : !_showEventThread}"><fa-icon
        [icon]="'pencil-alt'"></fa-icon></span>
</div>
