<div class="side-buttons" [ngStyle]="{'right.px': isClosed ? 0 : 408}">
    <span (click)="closePanel(!isClosed)"><fa-icon [icon]="isClosed ? 'angle-left' : 'angle-right'"></fa-icon></span>
    <span *ngIf="!isClosed && target === 'map'" (click)="showEventThread('EVENT_THREAD')"
          [ngClass]="{'isDisplayed' : _sideElement === 'EVENT_THREAD'}"><fa-icon
        [icon]="'wifi'"></fa-icon></span>
    <span *ngIf="!isClosed && target === 'map'" (click)="showEventThread('DESSIN')"
          [ngClass]="{'isDisplayed' : _sideElement === 'DESSIN'}"><fa-icon
        [icon]="'pencil-alt'"></fa-icon></span>
    <span *ngIf="!isClosed && target === 'map'" (click)="showEventThread('QUICK_STATS')"
          [ngClass]="{'isDisplayed' : _sideElement === 'QUICK_STATS'}"><fa-icon
        [icon]="'chart-bar'"></fa-icon></span>
    <span *ngIf="!isClosed && target === 'map'" (click)="showEventThread('LAYER_CONTROL')"
          [ngClass]="{'isDisplayed' : _sideElement === 'LAYER_CONTROL'}"><fa-icon
        [icon]="'globe'"></fa-icon></span>
</div>
