<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="actor">
            <h2><span jhiTranslate="insightApp.actor.detail.title">Actor</span> {{actor.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="insightApp.actor.description">Description</span></dt>
                <dd>
                    <span>{{actor.description}}</span>
                </dd>
                <dt><span jhiTranslate="insightApp.actor.nom">Nom</span></dt>
                <dd>
                    <span>{{actor.nom}}</span>
                </dd>
                <dt><span jhiTranslate="insightApp.actor.type">Type</span></dt>
                <dd>
                    <span>{{actor.type}}</span>
                </dd>
                <dt><span jhiTranslate="insightApp.actor.libelle">Libelle</span></dt>
                <dd>
                    <span>{{actor.libelle}}</span>
                </dd>
                <dt><span jhiTranslate="insightApp.actor.classeIdentite">Classe Identite</span></dt>
                <dd>
                    <span>{{actor.classeIdentite}}</span>
                </dd>
                <dt><span jhiTranslate="insightApp.actor.linkOf">Link Of</span></dt>
                <dd>
                    <div *ngIf="actor.linkOfId">
                        <a [routerLink]="['/net-link', actor.linkOfId, 'view']">{{actor.linkOfNom}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/actor', actor.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
