<div class="h-100 w-100 side-container">
    <div class="side-title">
        <h4>
            <fa-icon [icon]="'filter'"></fa-icon>
            <b> Content Filter</b></h4>
    </div>
    <div class="side-main side-element">
        <div class="tools" style="flex: 0 1 5%; min-height: 2.5rem;">
            <span title="Biographics" (click)="modifyState('BIOGRAPHICS')"
                  [ngClass]="{'selected': (mapStates.FILTER_ENTITIES.indexOf('Biographics') !== -1)}"><fa-icon
                [icon]="'user'"></fa-icon></span>
            <span title="Event" (click)="modifyState('EVENT')"
                  [ngClass]="{'selected': (mapStates.FILTER_ENTITIES.indexOf('Event') !== -1)}"><fa-icon
                [icon]="'calendar-alt'"></fa-icon></span>
            <span title="Location" (click)="modifyState('LOCATION')"
                  [ngClass]="{'selected': (mapStates.FILTER_ENTITIES.indexOf('Location') !== -1)}"><fa-icon
                [icon]="'map-marker-alt'"></fa-icon></span>
            <span title="Equipment" (click)="modifyState('EQUIPMENT')"
                  [ngClass]="{'selected': (mapStates.FILTER_ENTITIES.indexOf('Equipment') !== -1)}"><fa-icon
                [icon]="'toolbox'"></fa-icon></span>
            <span title="Organisation" (click)="modifyState('ORGANISATION')"
                  [ngClass]="{'selected': (mapStates.FILTER_ENTITIES.indexOf('Organisation') !== -1)}"><fa-icon
                [icon]="'users'"></fa-icon></span>
            <span title="RawData" (click)="modifyState('RAWDATA')"
                  [ngClass]="{'selected': (mapStates.FILTER_ENTITIES.indexOf('RawData') !== -1)}"><fa-icon
                [icon]="'database'"></fa-icon></span>
        </div>

        <div class="side-inline-form" style="flex: 1 1 auto;">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="relationCheckbox"
                       [(ngModel)]="mapStates.DISPLAY_RELATION" (change)="modifyState('DISPLAY_RELATION')">
                <label class="form-check-label" for="relationCheckbox">Display Relation</label>
            </div>
        </div>
    </div>

</div>
