<div class="h-100 w-100 dessin" [formGroup]="dessinForm">
    <div class="side-title">
        <h4>
            <fa-icon [icon]="'wifi'"></fa-icon>
            <b> Dessin</b>
        </h4>
    </div>
    <div class="drawing-layers drawing-element">
        <div class="tools">
            <span title="Add layer"><fa-icon [icon]="'plus'"></fa-icon></span>
            <span title="Move layer up"><fa-icon [icon]="'arrow-circle-up'"></fa-icon></span>
            <span title="Move layer down"><fa-icon [icon]="'arrow-circle-down'"></fa-icon></span>
            <span title="Remove layer"><fa-icon [icon]="'times'"></fa-icon></span>
        </div>
        <h6 class="ml-2">Layer List :</h6>
        <div id="layers-list" *ngFor="let layer of layerList;">
            <span><fa-icon [icon]="layer.selected ? 'check-circle' : 'circle'"></fa-icon> {{layer.layerName}}</span>
        </div>
    </div>
    <div class="drawing-forms drawing-element">
        <div class="tools">
            <span title="Free drawing" (click)="onFormSelected('')"><fa-icon [icon]="'hand-paper'"></fa-icon></span>
            <span title="Line" (click)="onFormSelected('')"><fa-icon [icon]="'grip-vertical'"></fa-icon></span>
            <span title="Point" (click)="onFormSelected('')"><fa-icon [icon]="'circle'"></fa-icon></span>
            <span title="Circle" (click)="onFormSelected('')"><fa-icon [icon]="'circle'"></fa-icon></span>
            <span title="Rectangle" (click)="onFormSelected('')"><fa-icon [icon]="'square'"></fa-icon></span>
            <span title="Polygon" (click)="onFormSelected('')"><fa-icon [icon]="'draw-polygon'"></fa-icon></span>
        </div>
        <div id="drawing-style">
            <input type="number" formControlName="type" class="form-control-sm" id="drawing-type"
                   placeholder="Line dash"/>
            <input type="number" formControlName="size" class="form-control-sm" id="drawing-size"
                   placeholder="Line size"/>
        </div>
    </div>
    <div class="drawing-colors drawing-element"></div>
</div>
