<div class="h-100 w-100 side-container" [formGroup]="dessinForm">
    <div class="side-title">
        <h4>
            <fa-icon [icon]="'pencil-alt'"></fa-icon>
            <b> Dessin</b>
        </h4>
    </div>
    <div class="side-main side-element drawing-layers">
        <div class="tools">
            <span title="Add layer" (click)="onLayerAction('ADD_DESSIN_LAYER')"><fa-icon
                [icon]="'plus'"></fa-icon></span>
            <span title="Mettre le layer à l'arrière-plan" (click)="onLayerAction('MOVE_LAYER_DOWN', selectedLayer)"><fa-icon
                [icon]="'arrow-circle-down'"></fa-icon></span>
            <span title="Mettre le layer au premier-plan" (click)="onLayerAction('MOVE_LAYER_UP', selectedLayer)"><fa-icon
                [icon]="'arrow-circle-up'"></fa-icon></span>
        </div>
        <h6 class="ml-2">Layer List :</h6>
        <div class="side-list-container" style="height: 85%;">
            <div *ngFor="let layer of layerList;" [ngClass]="{'selected': selectedLayer && (selectedLayer.layerId === layer.layerId)}">
                <span><fa-icon [icon]="getLayerIcon(layer.layerType)"
                               [style.color]="layer.selected && layer.layerType === 'DESSIN' ? 'red' : 'inherit'"
                               [style.cursor]="layer.layerType === 'DESSIN' ? 'pointer' : 'none'"
                               (click)="onLayerAction('DESSIN_SELECTION_CHANGED', layer)"></fa-icon>
                    <span (click)="onSelectedLayerChanged(layer)"
                          [style.cursor]="'pointer'"> {{layer.layerName}} [Z:{{layer.layerZIndex}}]</span>
                </span>
                <span *ngIf="layer.layerType !== 'WMS'" (click)="onLayerAction('REMOVE_DESSIN_LAYER', layer)"><fa-icon
                    [icon]="'times'"></fa-icon></span>
                <span (click)="onLayerAction('VISIBILITY_CHANGED', layer)"><fa-icon
                    [icon]="layer.visible ? 'check-circle' : 'circle'"></fa-icon></span>
                <span *ngIf="layer.layerType !== 'WMS'" (click)="zoomToLayer(layer.layerId)"><fa-icon
                    [icon]="'bullseye'"></fa-icon></span>
            </div>
        </div>
    </div>
    <div class="side-secondary side-element">
        <div class="tools">
            <span title="Line" (click)="onFormSelected('LineString')"
                  [ngClass]="{'selected': (currentStyle.form === 'LineString')}"><fa-icon
                [icon]="'grip-vertical'"></fa-icon></span>
            <span title="Point" (click)="onFormSelected('Point')"
                  [ngClass]="{'selected': (currentStyle.form === 'Point')}"><fa-icon [icon]="'circle'"></fa-icon></span>
            <span title="Circle" (click)="onFormSelected('Circle')"
                  [ngClass]="{'selected': (currentStyle.form === 'Circle')}"><fa-icon
                [icon]="'circle'"></fa-icon></span>
            <span title="Rectangle" (click)="onFormSelected('Rectangle')"
                  [ngClass]="{'selected': (currentStyle.form === 'Rectangle')}"><fa-icon
                [icon]="'square'"></fa-icon></span>
            <span title="Polygon" (click)="onFormSelected('Polygon')"
                  [ngClass]="{'selected': (currentStyle.form === 'Polygon')}"><fa-icon
                [icon]="'draw-polygon'"></fa-icon></span>
        </div>
        <div class="side-inline-form">
            <div class="side-input-container">
                <label class="col-form-label-sm" for="drawing-type">Espacement des pointillés</label>
                <input type="number" formControlName="type" class="form-control-sm" id="drawing-type"
                       placeholder="Line dash"/>
            </div>
            <div class="side-input-container">
                <label class="col-form-label-sm" for="drawing-size">Largeur du trait</label>
                <input type="number" formControlName="size" class="form-control-sm" id="drawing-size"
                       placeholder="Line size"/>
            </div>
            <div class="side-input-container">
                <label class="col-form-label-sm" for="stroke-color">Couleur du trait</label>
                <input title="Stroke Color" [cpPosition]="'top'" [cpOutputFormat]="'rgba'"
                       [colorPicker]="f.strokeColor.value" [style.background]="f.strokeColor.value"
                       id="stroke-color"
                       (colorPickerChange)="f.strokeColor.setValue($event)"
                       formControlName="strokeColor"/>
            </div>
            <div class="side-input-container">
                <label class="col-form-label-sm" for="fill-color">Couleur de remplissage</label>
                <input title="Fill Color" [cpPosition]="'top'" [cpOutputFormat]="'rgba'"
                       [colorPicker]="f.fillColor.value"
                       [style.background]="f.fillColor.value" id="fill-color"
                       (colorPickerChange)="f.fillColor.setValue($event)"
                       formControlName="fillColor"/>
            </div>
        </div>
    </div>
</div>
