<div class="h-100 w-100 side-container">
    <div class="side-title">
        <h4>
            <fa-icon [icon]="'search'"></fa-icon>
            <b> Search</b>
        </h4>
    </div>
    <div class="side-main side-element">
        <div class="tools" style="flex: 0 1 5%; min-height: 2.5rem;">
            <span title="Rechercher dans l'index GeoRef" (click)="modifyState('SEARCH_GEOREF')"
                  [ngClass]="{'selected': (mapStates.SEARCH_GEOREF)}"><fa-icon
                [icon]="'globe'"></fa-icon></span>
            <span title="Rechercher dans les entités" (click)="modifyState('SEARCH_INDICES')"
                  [ngClass]="{'selected': (!mapStates.SEARCH_GEOREF)}"><fa-icon
                [icon]="'search'"></fa-icon></span>
            <span title="Retirer les entités résultats de la carte" (click)="sendAction('CLEAR_SEARCH_FEATURE')"><fa-icon
                [icon]="'times'"></fa-icon></span>
        </div>
        <div class="side-inline-form" style="flex: 0 1 5%; min-height: 2.5rem;">
            <div class="side-input-container">
                <input *ngIf="mapStates.SEARCH_GEOREF; else inputSearchEntity" type="text"
                       [formControl]="geoRefSearchForm"
                       class="form-control-sm"
                       placeholder="ex: Paris..."
                       (keyup.enter)="onEnter($event)"/>
                <ng-template #inputSearchEntity>
                    <ins-insight-search [targetEntity]="selectedEntityTypes" (selectionEmitter)="onDataSelected($event)"
                                        (resultEmitter)="onResultQueryReceived($event)"></ins-insight-search>
                </ng-template>
            </div>
        </div>

        <div class="side-list-container" style="flex: 1 1 auto;"
             *ngIf="mapStates.SEARCH_GEOREF; else resultSearchEntity">
            <div *ngFor="let result of geoRefQueryResult;">
                <span *ngIf="result.properties && result.properties['ADDED_TO_MAP']; else notOnMap">
                    <fa-icon (click)="pinnedFeature(result)" [icon]="'map-marker'"
                             [style.color]="pinnedIds.indexOf(result.id) !== -1 ? 'red' : 'inherit'"></fa-icon>
                    <span (click)="zoomToFeature(result.id)" style="cursor: pointer;"> {{result.label}}</span>
                </span>

                <ng-template #notOnMap>
                    <fa-icon [icon]="'map-marker'"
                             (click)="pinnedFeature(result, true)"
                             [style.color]="pinnedIds.indexOf(result.id) !== -1 ? 'red' : '#6c757d'"></fa-icon>
                    <span [style.color]="'#a0a6ac'"> {{result.label}}</span>
                </ng-template>
            </div>
        </div>

        <ng-template #resultSearchEntity>
            <div *ngIf="entityQueryResult" class="event-thread-container" style="flex: 1 1 auto;">
                <div class="card event-thread-card"
                     *ngFor="let data of entityQueryResult;">
                    <div class="card-body d-flex align-items-center" style="padding: 1rem !important;">

                        <div style="flex: 1 1 20%;">
                            <img *ngIf="data[getEntitySymbolProperty(data)]; else noPhoto" style="max-height: 3rem;"
                                 src="{{data[getEntitySymbolProperty(data)]}}"/>
                            <ng-template #noPhoto>
                                <span
                                    style="display: flex;justify-content: center; align-items: center; font-size: 2rem;">
                                    <fa-icon [icon]="'image'"></fa-icon>
                                </span>
                            </ng-template>
                        </div>

                        <div style="flex: 1 0 80%;" class="d-flex justify-content-center flex-column">
                            <img style="max-height: 1.5rem; align-self: flex-end; margin: -1rem -1rem 0 0;"
                                 [src]="getDefaultEntitySymbol(data)"/>
                            <p class="event-thread-title" style="margin: 0;">
                                {{data[getEntityNameProperty(data)] | stringTruncate : 30}}</p>
                            <a class="card-link" [routerLink]="[getLink(data['entityType']), data['id'], 'view' ]">
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span> Voir en fiche</span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </ng-template>

    </div>

</div>
