<div class="h-100 w-100 side-container">
    <div class="side-title">
        <h4>
            <fa-icon [icon]="'search'"></fa-icon>
            <b> Search</b>
        </h4>
    </div>
    <div class="side-main side-element">
        <div class="side-inline-form" style="height: 10%;">
            <div class="side-input-container">
                <input type="text" [formControl]="searchForm" class="form-control-sm" placeholder="ex: Paris..."
                       (keyup.enter)="onEnter($event)"/>
            </div>
        </div>

        <div class="side-list-container" style="height: 90%;" *ngIf="currentResult">
            <div *ngFor="let result of currentResult;">
                <span *ngIf="result.properties && result.properties['ADDED_TO_MAP']; else notOnMap">
                    <fa-icon (click)="pinnedFeature(result)" [icon]="'map-marker'"
                             [style.color]="pinnedIds.indexOf(result.id) !== -1 ? 'red' : 'inherit'"></fa-icon>
                    <span (click)="zoomToFeature(result.id)" style="cursor: pointer;"> {{result.label}}</span>
                </span>

                <ng-template #notOnMap>
                    <fa-icon [icon]="'map-marker'"
                             (click)="pinnedFeature(result, true)"
                             [style.color]="pinnedIds.indexOf(result.id) !== -1 ? 'red' : '#6c757d'"></fa-icon>
                    <span [style.color]="'#a0a6ac'"> {{result.label}}</span>
                </ng-template>
            </div>
        </div>
    </div>

</div>
