<div>
    <h2 id="page-heading">
        <span jhiTranslate="insightApp.organisation.home.title">Organisations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-organisation" [routerLink]="['/organisation/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="insightApp.organisation.home.createLabel">
            Create new Organisation
            </span>
        </button>
    </h2>
    <ins-alert></ins-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'insightApp.organisation.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="organisations">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="organisationName"><span jhiTranslate="insightApp.organisation.organisationName">Organisation Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="organisationDescrption"><span jhiTranslate="insightApp.organisation.organisationDescrption">Organisation Descrption</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="organisationSize"><span jhiTranslate="insightApp.organisation.organisationSize">Organisation Size</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="organisationCoordinates"><span jhiTranslate="insightApp.organisation.organisationCoordinates">Organisation Coordinates</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="organisationImage"><span jhiTranslate="insightApp.organisation.organisationImage">Organisation Image</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="organisationSymbol"><span jhiTranslate="insightApp.organisation.organisationSymbol">Organisation Symbol</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="externalId"><span jhiTranslate="insightApp.organisation.externalId">External Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let organisation of organisations ;trackBy: trackId">
                <td><a [routerLink]="['/organisation', organisation.id, 'view' ]">{{organisation.id}}</a></td>
                <td>{{organisation.organisationName}}</td>
                <td>{{organisation.organisationDescrption}}</td>
                <td jhiTranslate="{{'insightApp.Size.' + organisation.organisationSize}}">{{organisation.organisationSize}}</td>
                <td>{{organisation.organisationCoordinates}}</td>
                <td>
                    <a *ngIf="organisation.organisationImage" (click)="openFile(organisation.organisationImageContentType, organisation.organisationImage)">
                        <img [src]="'data:' + organisation.organisationImageContentType + ';base64,' + organisation.organisationImage" style="max-height: 30px;" alt="organisation image"/>
                    </a>
                    <span *ngIf="organisation.organisationImage">{{organisation.organisationImageContentType}}, {{byteSize(organisation.organisationImage)}}</span>
                </td>
                <td>{{organisation.organisationSymbol}}</td>
                <td>{{organisation.externalId}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/organisation', organisation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/organisation', organisation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'organisation/'+ organisation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="organisations && organisations.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
