<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-organisation-heading" jhiTranslate="insightApp.organisation.home.createOrEditLabel">Create or edit a Organisation</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!organisation.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="organisation.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.organisation.organisationName" for="field_organisationName">Organisation Name</label>
                    <input type="text" class="form-control" name="organisationName" id="field_organisationName"
                        [(ngModel)]="organisation.organisationName" required/>
                    <div [hidden]="!(editForm.controls.organisationName?.dirty && editForm.controls.organisationName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.organisationName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.organisation.organisationSize" for="field_organisationSize">Organisation Size</label>
                    <select class="form-control" name="organisationSize" [(ngModel)]="organisation.organisationSize" id="field_organisationSize" >
                        <option value="SMALL">{{'insightApp.Size.SMALL' | translate}}</option>
                        <option value="MEDIUM">{{'insightApp.Size.MEDIUM' | translate}}</option>
                        <option value="LARGE">{{'insightApp.Size.LARGE' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.organisation.organisationCoordinates" for="field_organisationCoordinates">Organisation Coordinates</label>
                    <input type="text" class="form-control" name="organisationCoordinates" id="field_organisationCoordinates"
                        [(ngModel)]="organisation.organisationCoordinates" />
                </div>

                <div class="form-group">
                    <label jhiTranslate="insightApp.organisation.location" for="field_location">Location</label>
                    <select class="form-control" id="field_location" multiple name="location" [(ngModel)]="organisation.locations">
                        <option [ngValue]="getSelected(organisation.locations, locationOption)" *ngFor="let locationOption of locations; trackBy: trackLocationById">{{locationOption.locationName}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
