@import '../../../content/scss/custom-insight-variables';
@import '../../../content/scss/global.scss';

.insSearchComponent {
    > input {
        width: 100%;
    }
}

.search-suggestion-container {
    @include popover();
    display: flex;
    flex-direction: column;
}

.search-suggestion {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-size: 1rem;
    padding: 0.3rem 0.3rem;

    > .search-img-ctn {
        flex: 0 0 35%;
        max-width: 35%;
        display: flex;
        justify-content: center;

        > img {
            max-height: 2.5rem;
        }
    }

    > div:not(.search-img-ctn) {
        flex: 1 1 auto;
        padding: 0.3rem;
    }
}

.search-suggestion:first-child {
    border-radius: 1rem 1rem 0 0;
}

.search-suggestion:last-child {
    border-radius: 0 0 1rem 1rem;
}

.search-suggestion:hover {
    background-color: $popover-button-background-color-hover;
    color: $a-color-hover;
    cursor: pointer;
}
