<div class="pipeline-container">
    <div class="row justify-content-center pt-3 pb-2" style="flex: 0 1 auto;">
        <div class="col-md-11 pipeline-parts pipeline-header-container">
            <h2><span>Pipeline Control Room</span></h2>
        </div>
    </div>
    <div class="row justify-content-center pt-2 pb-2" style="flex: 1 0 auto;">
        <div class="col-md-11 pipeline-parts pipeline-element-container">
            <ins-load-table></ins-load-table>
            <ins-process-table></ins-process-table>
        </div>
    </div>
</div>
