<div class="pipeline-container">
    <div class="row justify-content-center pt-3 pb-2" style="flex: 0 1 auto;">
        <div class="col-md-11 pipeline-parts pipeline-header-container">
            <h2><span>Pipeline Control Room</span></h2>
            <div class="form-group-sm">
                <select class="form-control" name="depthLevel" [(ngModel)]="depthLevel"
                        id="field_depth">
                    <option *ngFor="let level of [1,2,3]"
                            value="{{level}}">Profondeur: {{level}}</option>
                </select>
            </div>
            <div class="form-group-sm" *ngIf="dictionaries">
                <select class="form-control" name="dictionaryId" [(ngModel)]="selectedDictionaryId"
                        id="field_dictionaryr">
                    <option *ngFor="let dico of dictionaries"
                            value="{{dico.id}}">{{dico.name}}</option>
                </select>
            </div>
            <div class="btn-group flex-btn-group-container">
                <button type="submit"
                        class="btn btn-info btn-sm mr-1" (click)="sendForms()">
                    <fa-icon [icon]="'paper-plane'"></fa-icon>
                    <span class="d-none d-md-inline">Send Forms</span>
                </button>
                <button type="submit"
                        class="btn btn-info btn-sm mr-1" (click)="clearLoadedForms()">
                    <fa-icon [icon]="'trash-alt'"></fa-icon>
                    <span class="d-none d-md-inline">Clear Loaded Forms</span>
                </button>
                <button type="submit"
                        class="btn btn-info btn-sm" (click)="clearWatchList()">
                    <fa-icon [icon]="'trash-alt'"></fa-icon>
                    <span class="d-none d-md-inline">Clear Watch List</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row justify-content-center pt-2 pb-2" style="flex: 1 0 auto; max-height: -webkit-fill-available;">
        <div class="col-md-11 pipeline-parts pipeline-element-container">
            <ins-load-table></ins-load-table>
            <ins-process-table></ins-process-table>
        </div>
    </div>
</div>
