<div>
    <h2 id="page-heading">
        <span jhiTranslate="insightApp.equipment.home.title">Equipment</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-equipment" [routerLink]="['/equipment/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="insightApp.equipment.home.createLabel">
            Create new Equipment
            </span>
        </button>
    </h2>
    <ins-alert></ins-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'insightApp.equipment.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="equipment">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="equipmentName"><span jhiTranslate="insightApp.equipment.equipmentName">Equipment Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="equipmentDescription"><span jhiTranslate="insightApp.equipment.equipmentDescription">Equipment Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="equipmentType"><span jhiTranslate="insightApp.equipment.equipmentType">Equipment Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="equipmentCoordinates"><span jhiTranslate="insightApp.equipment.equipmentCoordinates">Equipment Coordinates</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="equipmentSymbol"><span jhiTranslate="insightApp.equipment.equipmentSymbol">Equipment Symbol</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="equipmentImage"><span jhiTranslate="insightApp.equipment.equipmentImage">Equipment Image</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="externalId"><span jhiTranslate="insightApp.equipment.externalId">External Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let equipment of equipment ;trackBy: trackId">
                <td><a [routerLink]="['/equipment', equipment.id, 'view' ]">{{equipment.id}}</a></td>
                <td>{{equipment.equipmentName}}</td>
                <td>{{equipment.equipmentDescription}}</td>
                <td jhiTranslate="{{'insightApp.EquipmentType.' + equipment.equipmentType}}">{{equipment.equipmentType}}</td>
                <td>{{equipment.equipmentCoordinates}}</td>
                <td>{{equipment.equipmentSymbol}}</td>
                <td>
                    <a *ngIf="equipment.equipmentImage" (click)="openFile(equipment.equipmentImageContentType, equipment.equipmentImage)">
                        <img [src]="'data:' + equipment.equipmentImageContentType + ';base64,' + equipment.equipmentImage" style="max-height: 30px;" alt="equipment image"/>
                    </a>
                    <span *ngIf="equipment.equipmentImage">{{equipment.equipmentImageContentType}}, {{byteSize(equipment.equipmentImage)}}</span>
                </td>
                <td>{{equipment.externalId}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/equipment', equipment.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/equipment', equipment.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'equipment/'+ equipment.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="equipment && equipment.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
