<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="equipment">
            <h2><span jhiTranslate="insightApp.equipment.detail.title">Equipment</span> {{equipment.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="insightApp.equipment.equipmentName">Equipment Name</span></dt>
                <dd>
                    <span>{{equipment.equipmentName}}</span>
                </dd>
                <dt><span jhiTranslate="insightApp.equipment.equipmentDescription">Equipment Description</span></dt>
                <dd>
                    <span>{{equipment.equipmentDescription}}</span>
                </dd>
                <dt><span jhiTranslate="insightApp.equipment.equipmentType">Equipment Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'insightApp.EquipmentType.' + equipment.equipmentType}}">{{equipment.equipmentType}}</span>
                </dd>
                <dt><span jhiTranslate="insightApp.equipment.equipmentCoordinates">Equipment Coordinates</span></dt>
                <dd>
                    <span>{{equipment.equipmentCoordinates}}</span>
                </dd>
                <dt><span jhiTranslate="insightApp.equipment.location">Location</span></dt>
                <dd>
                    <span *ngFor="let location of equipment.locations; let last = last">
                        <a [routerLink]="['/location', location?.id, 'view' ]">{{location.locationName}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="insightApp.equipment.organisation">Organisation</span></dt>
                <dd>
                    <span *ngFor="let organisation of equipment.organisations; let last = last">
                        <a [routerLink]="['/organisation', organisation?.id, 'view' ]">{{organisation.organisationName}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/equipment', equipment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
