

<div class="ins-card-nav">
    <span *ngFor="let hits of biographicsScore['hits']" (click)="onChangeTab(hits.theme)"
          [ngClass]="{ 'nav-selected selected' : currentTab === hits.theme }">
        {{hits.theme}}
    </span>
</div>

<div class="row_card_analytics">
    <div class="col_card_analytics">
        <div class="tabs_card_analytics">
            <div *ngFor="let hits of biographicsScore['hits']">
                <div class="ins-card-info_card_analytics" *ngIf="currentTab === hits.theme">
                    <div class="tab" *ngFor="let motClefUrls of hits.motClefUrls">
                        <input class="input_card_analytics" type="checkbox" id="{{motClefUrls.motClef}}">
                        <label class="tab-label" for="{{motClefUrls.motClef}}">{{motClefUrls.motClef}}</label>
                        <div class="tab-content" *ngFor="let url of motClefUrls.urls" >
                            {{url}}
                        </div>
                </div>
                </div>
            </div>

        </div>
    </div>
</div>

