<div class="card-analytics-container">
    <h4>Dictionnaire : {{biographicsScore['nameDictionary']}}</h4>
    <div class="ins-card-nav">
    <span *ngFor="let hits of biographicsScore['hits']" (click)="onChangeTab(hits.theme)"
          [ngClass]="{ 'nav-selected selected' : currentTab === hits.theme }">
        {{hits.theme}}
    </span>
    </div>

    <div class="tab-container" *ngFor="let hits of biographicsScore['hits']|listFilterPipe:'theme':currentTab">
        <div class="tab" *ngFor="let motClefUrls of hits.motClefUrls"
             [ngStyle]="{'flex': motClefUrls.display ? '1' : '0'}">
            <div class="tab-label" (click)="onLabelClick(motClefUrls, hits)">
                <span>{{motClefUrls.motClef}}</span>
            </div>
            <div class="tab-content" *ngIf="motClefUrls.display">
                <ng-container *ngFor="let listUrlDepth of motClefUrls.listUrlDepth">
                    <h6>Url : <a (click)="goToLink(listUrlDepth.url)">{{listUrlDepth.url}}</a> <br> Profondeur
                        : {{listUrlDepth.depth}} </h6>
                </ng-container>
            </div>
        </div>
    </div>
</div>
