<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-tool-heading" jhiTranslate="insightApp.tool.home.createOrEditLabel">Create or edit a Tool</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!tool.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="tool.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.tool.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                        [(ngModel)]="tool.nom" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.tool.type" for="field_type">Type</label>
                    <input type="text" class="form-control" name="type" id="field_type"
                        [(ngModel)]="tool.type" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.tool.libelle" for="field_libelle">Libelle</label>
                    <input type="text" class="form-control" name="libelle" id="field_libelle"
                        [(ngModel)]="tool.libelle" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.tool.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="tool.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.tool.version" for="field_version">Version</label>
                    <input type="text" class="form-control" name="version" id="field_version"
                        [(ngModel)]="tool.version" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.tool.usesToolToIntrusionSet" for="field_usesToolToIntrusionSet">Uses Tool To Intrusion Set</label>
                    <select class="form-control" id="field_usesToolToIntrusionSet" name="usesToolToIntrusionSet" [(ngModel)]="tool.usesToolToIntrusionSetId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="intrusionSetOption.id" *ngFor="let intrusionSetOption of intrusionsets; trackBy: trackIntrusionSetById">{{intrusionSetOption.nom}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.tool.isUsesToolToMalware" for="field_isUsesToolToMalware">Is Uses Tool To Malware</label>
                    <select class="form-control" id="field_isUsesToolToMalware" name="isUsesToolToMalware" [(ngModel)]="tool.isUsesToolToMalwareId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="malwareOption.id" *ngFor="let malwareOption of malwares; trackBy: trackMalwareById">{{malwareOption.nom}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.tool.linkOf" for="field_linkOf">Link Of</label>
                    <select class="form-control" id="field_linkOf" name="linkOf" [(ngModel)]="tool.linkOfId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="netLinkOption.id" *ngFor="let netLinkOption of netlinks; trackBy: trackNetLinkById">{{netLinkOption.nom}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.tool.usesToolToThreatActor" for="field_usesToolToThreatActor">Uses Tool To Threat Actor</label>
                    <select class="form-control" id="field_usesToolToThreatActor" name="usesToolToThreatActor" [(ngModel)]="tool.usesToolToThreatActorId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="threatActorOption.id" *ngFor="let threatActorOption of threatactors; trackBy: trackThreatActorById">{{threatActorOption.nom}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
