<div>
    <h2 id="page-heading">
        <span jhiTranslate="insightApp.tool.home.title">Tools</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tool" [routerLink]="['/tool/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="insightApp.tool.home.createLabel">
            Create new Tool
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'insightApp.tool.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tools">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nom"><span jhiTranslate="insightApp.tool.nom">Nom</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="type"><span jhiTranslate="insightApp.tool.type">Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="libelle"><span jhiTranslate="insightApp.tool.libelle">Libelle</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="insightApp.tool.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="version"><span jhiTranslate="insightApp.tool.version">Version</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="usesToolToIntrusionSetNom"><span jhiTranslate="insightApp.tool.usesToolToIntrusionSet">Uses Tool To Intrusion Set</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isUsesToolToMalwareNom"><span jhiTranslate="insightApp.tool.isUsesToolToMalware">Is Uses Tool To Malware</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="linkOfNom"><span jhiTranslate="insightApp.tool.linkOf">Link Of</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="usesToolToThreatActorNom"><span jhiTranslate="insightApp.tool.usesToolToThreatActor">Uses Tool To Threat Actor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tool of tools ;trackBy: trackId">
                <td><a [routerLink]="['/tool', tool.id, 'view' ]">{{tool.id}}</a></td>
                <td>{{tool.nom}}</td>
                <td>{{tool.type}}</td>
                <td>{{tool.libelle}}</td>
                <td>{{tool.description}}</td>
                <td>{{tool.version}}</td>
                <td>
                    <div *ngIf="tool.usesToolToIntrusionSetId">
                        <a [routerLink]="['../intrusion-set', tool.usesToolToIntrusionSetId , 'view' ]" >{{tool.usesToolToIntrusionSetNom}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tool.isUsesToolToMalwareId">
                        <a [routerLink]="['../malware', tool.isUsesToolToMalwareId , 'view' ]" >{{tool.isUsesToolToMalwareNom}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tool.linkOfId">
                        <a [routerLink]="['../net-link', tool.linkOfId , 'view' ]" >{{tool.linkOfNom}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tool.usesToolToThreatActorId">
                        <a [routerLink]="['../threat-actor', tool.usesToolToThreatActorId , 'view' ]" >{{tool.usesToolToThreatActorNom}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/tool', tool.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tool', tool.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tool/'+ tool.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="tools && tools.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
