<div class="dictionary-container">
    <div class="row justify-content-center pt-3 pb-2">
        <div class="col-md-11 dictionary-parts dictionary-header-container">
            <h2><span>Dictionary</span></h2>
        </div>
    </div>
    <div class="row justify-content-center pt-2 pb-2">
        <div class="col-md-11 dictionary-parts dictionary-element-container">
            <ins-dictionary-table [dictionaries]="dictionaries"
                                  [selectedDictionary]="selectedDictionary"
                                  (selectionEmitter)="onDictionarySelected($event)"></ins-dictionary-table>
            <ins-dictionary-editor [selectedDictionary]="selectedDictionary"></ins-dictionary-editor>
        </div>
    </div>
</div>
