<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-activity-pattern-heading" jhiTranslate="insightApp.activityPattern.home.createOrEditLabel">Create or edit a Activity Pattern</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!activityPattern.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="activityPattern.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.activityPattern.modele" for="field_modele">Modele</label>
                    <input type="text" class="form-control" name="modele" id="field_modele"
                        [(ngModel)]="activityPattern.modele" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.activityPattern.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                        [(ngModel)]="activityPattern.nom" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.activityPattern.type" for="field_type">Type</label>
                    <input type="text" class="form-control" name="type" id="field_type"
                        [(ngModel)]="activityPattern.type" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.activityPattern.valideAPartirDe" for="field_valideAPartirDe">Valide A Partir De</label>
                    <div class="d-flex">
                        <input id="field_valideAPartirDe" type="datetime-local" class="form-control" name="valideAPartirDe" [(ngModel)]="valideAPartirDe"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.activityPattern.linkOf" for="field_linkOf">Link Of</label>
                    <select class="form-control" id="field_linkOf" name="linkOf" [(ngModel)]="activityPattern.linkOfId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="netLinkOption.id" *ngFor="let netLinkOption of netlinks; trackBy: trackNetLinkById">{{netLinkOption.nom}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
