<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-intrusion-set-heading" jhiTranslate="insightApp.intrusionSet.home.createOrEditLabel">Create or edit a Intrusion Set</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!intrusionSet.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="intrusionSet.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.intrusionSet.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="intrusionSet.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.intrusionSet.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                        [(ngModel)]="intrusionSet.nom" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.intrusionSet.type" for="field_type">Type</label>
                    <input type="text" class="form-control" name="type" id="field_type"
                        [(ngModel)]="intrusionSet.type" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.intrusionSet.objectif" for="field_objectif">Objectif</label>
                    <input type="text" class="form-control" name="objectif" id="field_objectif"
                        [(ngModel)]="intrusionSet.objectif" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.intrusionSet.niveauRessource" for="field_niveauRessource">Niveau Ressource</label>
                    <input type="text" class="form-control" name="niveauRessource" id="field_niveauRessource"
                        [(ngModel)]="intrusionSet.niveauRessource" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.intrusionSet.isTargetsIntrusionSetToActor" for="field_isTargetsIntrusionSetToActor">Is Targets Intrusion Set To Actor</label>
                    <select class="form-control" id="field_isTargetsIntrusionSetToActor" name="isTargetsIntrusionSetToActor" [(ngModel)]="intrusionSet.isTargetsIntrusionSetToActorId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="actorOption.id" *ngFor="let actorOption of actors; trackBy: trackActorById">{{actorOption.nom}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.intrusionSet.linkOf" for="field_linkOf">Link Of</label>
                    <select class="form-control" id="field_linkOf" name="linkOf" [(ngModel)]="intrusionSet.linkOfId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="netLinkOption.id" *ngFor="let netLinkOption of netlinks; trackBy: trackNetLinkById">{{netLinkOption.nom}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
