<div>
    <h2 id="page-heading">
        <span jhiTranslate="insightApp.intrusionSet.home.title">Intrusion Sets</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-intrusion-set" [routerLink]="['/intrusion-set/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="insightApp.intrusionSet.home.createLabel">
            Create new Intrusion Set
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'insightApp.intrusionSet.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="intrusionSets">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="insightApp.intrusionSet.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nom"><span jhiTranslate="insightApp.intrusionSet.nom">Nom</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="type"><span jhiTranslate="insightApp.intrusionSet.type">Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="objectif"><span jhiTranslate="insightApp.intrusionSet.objectif">Objectif</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="niveauRessource"><span jhiTranslate="insightApp.intrusionSet.niveauRessource">Niveau Ressource</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isTargetsIntrusionSetToActorNom"><span jhiTranslate="insightApp.intrusionSet.isTargetsIntrusionSetToActor">Is Targets Intrusion Set To Actor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="linkOfNom"><span jhiTranslate="insightApp.intrusionSet.linkOf">Link Of</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let intrusionSet of intrusionSets ;trackBy: trackId">
                <td><a [routerLink]="['/intrusion-set', intrusionSet.id, 'view' ]">{{intrusionSet.id}}</a></td>
                <td>{{intrusionSet.description}}</td>
                <td>{{intrusionSet.nom}}</td>
                <td>{{intrusionSet.type}}</td>
                <td>{{intrusionSet.objectif}}</td>
                <td>{{intrusionSet.niveauRessource}}</td>
                <td>
                    <div *ngIf="intrusionSet.isTargetsIntrusionSetToActorId">
                        <a [routerLink]="['../actor', intrusionSet.isTargetsIntrusionSetToActorId , 'view' ]" >{{intrusionSet.isTargetsIntrusionSetToActorNom}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="intrusionSet.linkOfId">
                        <a [routerLink]="['../net-link', intrusionSet.linkOfId , 'view' ]" >{{intrusionSet.linkOfNom}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/intrusion-set', intrusionSet.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/intrusion-set', intrusionSet.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'intrusion-set/'+ intrusionSet.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="intrusionSets && intrusionSets.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
