<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="observedData">
            <h2><span jhiTranslate="insightApp.observedData.detail.title">Observed Data</span> {{observedData.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="insightApp.observedData.type">Type</span></dt>
                <dd>
                    <span>{{observedData.type}}</span>
                </dd>
                <dt><span jhiTranslate="insightApp.observedData.objetsObserves">Objets Observes</span></dt>
                <dd>
                    <span>{{observedData.objetsObserves}}</span>
                </dd>
                <dt><span jhiTranslate="insightApp.observedData.dateDebut">Date Debut</span></dt>
                <dd>
                    <span>{{observedData.dateDebut}}</span>
                </dd>
                <dt><span jhiTranslate="insightApp.observedData.dateFin">Date Fin</span></dt>
                <dd>
                    <span>{{observedData.dateFin}}</span>
                </dd>
                <dt><span jhiTranslate="insightApp.observedData.nombreJours">Nombre Jours</span></dt>
                <dd>
                    <span>{{observedData.nombreJours}}</span>
                </dd>
                <dt><span jhiTranslate="insightApp.observedData.linkOf">Link Of</span></dt>
                <dd>
                    <div *ngIf="observedData.linkOfId">
                        <a [routerLink]="['/net-link', observedData.linkOfId, 'view']">{{observedData.linkOfNom}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/observed-data', observedData.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
