<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="biographics">
            <h2><span jhiTranslate="insightApp.biographics.detail.title">Biographics</span> {{biographics.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="insightApp.biographics.biographicsFirstname">Biographics Firstname</span></dt>
                <dd>
                    <span>{{biographics.biographicsFirstname}}</span>
                </dd>
                <dt><span jhiTranslate="insightApp.biographics.biographicsName">Biographics Name</span></dt>
                <dd>
                    <span>{{biographics.biographicsName}}</span>
                </dd>
                <dt><span jhiTranslate="insightApp.biographics.biographicsAge">Biographics Age</span></dt>
                <dd>
                    <span>{{biographics.biographicsAge}}</span>
                </dd>
                <dt><span jhiTranslate="insightApp.biographics.biographicsGender">Biographics Gender</span></dt>
                <dd>
                    <span jhiTranslate="{{'insightApp.Gender.' + biographics.biographicsGender}}">{{biographics.biographicsGender}}</span>
                </dd>
                <dt><span jhiTranslate="insightApp.biographics.biographicsPhoto">Biographics Photo</span></dt>
                <dd>
                    <div *ngIf="biographics.biographicsPhoto">
                        <a (click)="openFile(biographics.biographicsPhotoContentType, biographics.biographicsPhoto)">
                            <img [src]="'data:' + biographics.biographicsPhotoContentType + ';base64,' + biographics.biographicsPhoto" style="max-width: 100%;" alt="biographics image"/>
                        </a>
                        {{biographics.biographicsPhotoContentType}}, {{byteSize(biographics.biographicsPhoto)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="insightApp.biographics.biographicsCoordinates">Biographics Coordinates</span></dt>
                <dd>
                    <span>{{biographics.biographicsCoordinates}}</span>
                </dd>
                <dt><span jhiTranslate="insightApp.biographics.event">Event</span></dt>
                <dd>
                    <span *ngFor="let event of biographics.events; let last = last">
                        <a [routerLink]="['/event', event?.id, 'view' ]">{{event.eventName}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="insightApp.biographics.equipment">Equipment</span></dt>
                <dd>
                    <span *ngFor="let equipment of biographics.equipment; let last = last">
                        <a [routerLink]="['/equipment', equipment?.id, 'view' ]">{{equipment.equipmentName}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="insightApp.biographics.location">Location</span></dt>
                <dd>
                    <span *ngFor="let location of biographics.locations; let last = last">
                        <a [routerLink]="['/location', location?.id, 'view' ]">{{location.locationName}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="insightApp.biographics.organisation">Organisation</span></dt>
                <dd>
                    <span *ngFor="let organisation of biographics.organisations; let last = last">
                        <a [routerLink]="['/organisation', organisation?.id, 'view' ]">{{organisation.oganisationName}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/biographics', biographics.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
