<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="courseOfAction">
            <h2><span jhiTranslate="insightApp.courseOfAction.detail.title">Course Of Action</span> {{courseOfAction.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="insightApp.courseOfAction.description">Description</span></dt>
                <dd>
                    <span>{{courseOfAction.description}}</span>
                </dd>
                <dt><span jhiTranslate="insightApp.courseOfAction.nom">Nom</span></dt>
                <dd>
                    <span>{{courseOfAction.nom}}</span>
                </dd>
                <dt><span jhiTranslate="insightApp.courseOfAction.type">Type</span></dt>
                <dd>
                    <span>{{courseOfAction.type}}</span>
                </dd>
                <dt><span jhiTranslate="insightApp.courseOfAction.linkOf">Link Of</span></dt>
                <dd>
                    <div *ngIf="courseOfAction.linkOfId">
                        <a [routerLink]="['/net-link', courseOfAction.linkOfId, 'view']">{{courseOfAction.linkOfNom}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/course-of-action', courseOfAction.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
