<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-course-of-action-heading" jhiTranslate="insightApp.courseOfAction.home.createOrEditLabel">Create or edit a Course Of Action</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!courseOfAction.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="courseOfAction.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.courseOfAction.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="courseOfAction.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.courseOfAction.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                        [(ngModel)]="courseOfAction.nom" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.courseOfAction.type" for="field_type">Type</label>
                    <input type="text" class="form-control" name="type" id="field_type"
                        [(ngModel)]="courseOfAction.type" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.courseOfAction.linkOf" for="field_linkOf">Link Of</label>
                    <select class="form-control" id="field_linkOf" name="linkOf" [(ngModel)]="courseOfAction.linkOfId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="netLinkOption.id" *ngFor="let netLinkOption of netlinks; trackBy: trackNetLinkById">{{netLinkOption.nom}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
