<div class="ins-popover" [style.top.px]="dimension.top"
     [style.right.px]="dimension.right" [style.height.px]="dimension.height" [ngSwitch]="elementName">

    <ng-template [ngSwitchCase]="'LAYOUT_MENU'">
        <span [ngClass]="{'selected': (networkStates['SORT_METHOD'] === 'directed')}"
              (click)="sendAction(networkStates['SORT_METHOD'] === 'directed' ? 'SORT_METHOD_HU' : 'SORT_METHOD_DIR')"
              title="Changer la méthode de tri">
                <fa-icon [icon]="'directions'"></fa-icon>
        </span>
        <span [ngClass]="{'selected': (networkStates['LAYOUT_DIR'] === 'UD')}"
              (click)="sendAction('LAYOUT_DIR_UD')" title="Haut-Bas">
                <fa-icon [icon]="'arrow-circle-down'"></fa-icon>
        </span>
        <span [ngClass]="{'selected': (networkStates['LAYOUT_DIR'] === 'DU')}"
              (click)="sendAction('LAYOUT_DIR_DU')" title="Bas-Haut">
                <fa-icon [icon]="'arrow-circle-up'"></fa-icon>
        </span>
        <span [ngClass]="{'selected': (networkStates['LAYOUT_DIR'] === 'LR')}"
              (click)="sendAction('LAYOUT_DIR_LR')" title="Gauche-Droite">
                <fa-icon [icon]="'arrow-circle-right'"></fa-icon>
        </span>
        <span [ngClass]="{'selected': (networkStates['LAYOUT_DIR'] === 'RL')}"
              (click)="sendAction('LAYOUT_DIR_RL')" title="Droite-Gauche">
                <fa-icon [icon]="'arrow-circle-left'"></fa-icon>
        </span>
    </ng-template>

    <ng-template [ngSwitchCase]="'FILECHOOSER_MENU'">
        <input type="file" (change)="onFileInputChange($event)"
               class="form-control-file form-control-sm" style="flex-basis: 20rem !important;"/>
        <span (click)="importJsonFile()" title="Lancer l'import de fichier">
                <fa-icon [icon]="'check'"></fa-icon>
        </span>
    </ng-template>

</div>
