<div class="popover-side-menu-container" [style.top.px]="dimension.top"
     [style.left.px]="dimension.left" [style.height.px]="dimension.height" [ngSwitch]="elementName">

    <ul *ngSwitchCase="'LAYOUT_MENU'" class="list-group popover-side-menu">
        <li class="list-group-item popover-menu-item" [ngClass]="{'selected': (networkStates['LAYOUT_DIR'] === 'UD')}"
            (click)="sendAction('LAYOUT_DIR_UD')" title="Haut-Bas">
            <p>
                <fa-icon [icon]="'arrow-circle-down'"></fa-icon>
            </p>
        </li>
        <li class="list-group-item popover-menu-item" [ngClass]="{'selected': (networkStates['LAYOUT_DIR'] === 'DU')}"
            (click)="sendAction('LAYOUT_DIR_DU')" title="Bas-Haut">
            <p>
                <fa-icon [icon]="'arrow-circle-up'"></fa-icon>
            </p>
        </li>
        <li class="list-group-item popover-menu-item" [ngClass]="{'selected': (networkStates['LAYOUT_DIR'] === 'LR')}"
            (click)="sendAction('LAYOUT_DIR_LR')" title="Gauche-Droite">
            <p>
                <fa-icon [icon]="'arrow-circle-right'"></fa-icon>
            </p>
        </li>
        <li class="list-group-item popover-menu-item" [ngClass]="{'selected': (networkStates['LAYOUT_DIR'] === 'RL')}"
            (click)="sendAction('LAYOUT_DIR_RL')" title="Droite-Gauche">
            <p>
                <fa-icon [icon]="'arrow-circle-left'"></fa-icon>
            </p>
        </li>
    </ul>

    <ul *ngSwitchCase="'FILECHOOSER_MENU'" class="list-group popover-side-menu">
        <li class="list-group-item" title="Choisir un fichier JSON"
            style="width: 20rem;" [style.height.px]="dimension.height">
            <input type="file" (change)="onFileInputChange($event)"
                   class="form-control-file form-control-sm"/>
        </li>
        <li class="list-group-item popover-menu-item"
            (click)="importJsonFile()" title="Lancer l'import de fichier">
            <p>
                <fa-icon [icon]="'check'"></fa-icon>
            </p>
        </li>
    </ul>

</div>
