<div class="h-100 w-100 side-container">
    <div class="side-title">
        <h4>
            <fa-icon [icon]="'network-wired'"></fa-icon>
            <b> Symbology Manager</b></h4>
    </div>
    <div class="side-main side-element">

        <div class="tools" style="min-height: 2.5rem;">
             <span title="Supprimer toutes les images" (click)="onAction('DELETE_ALL_IMAGES')"><fa-icon
                 [icon]="'code-branch'"></fa-icon></span>
            <span title="Supprimer les images sélectionnées" (click)="onAction('DELETE_SELECTED_IMAGES')"><fa-icon
                [icon]="'code-branch'"></fa-icon></span>
        </div>

        <div *ngIf="symbols" class="side-grid-container">
            <div *ngFor="let symbol of symbols;">
                <img class="symbol" [ngClass]="{'selected2': selectedImageIds.indexOf(symbol.symbolId) !== -1}"
                     style="max-height: 5rem;" src="{{symbol.base64}}" (click)="onImageSelected(symbol.symbolId)"
                     draggable="true"
                     insDraggableElement [data]="symbol.base64"/>
            </div>
        </div>

    </div>


    <div class="side-secondary side-element">
        <div class="side-inline-form">
            <div class="side-input-container">
                <label class="col-form-label-sm" for="file-input">Importer une image</label>
                <input type="file" (change)="onFileInputChange($event)"
                       class="form-control-file form-control-sm" id="file-input" title="Importer un fichier JPEG/PNG"/>
            </div>
        </div>
    </div>

</div>

