.save-btn:disabled {
    pointer-events: none;
    cursor: default;
    color: rgba(153, 153, 153, 0.6) !important;
    background-color: rgba(153, 153, 153, 0.2) !important;
    border-color: rgba(153, 153, 153, 0.2) !important;
}
