/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url('../../content/images/insight.png') no-repeat center top;
    background-size: contain;
}

.reach {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url('../../content/images/reach.svg') no-repeat center top;
    background-size: contain;
}

.genius {
    display: inline-block;
    width: 56px;
    height: 56px;
    background: url('../../content/images/genius.svg') no-repeat center top;
    background-size: contain;
}

.genius-logo {
    display: inline-block;
    width: 128px;
    height: 128px;
    background: url('../../content/images/genius_logo.svg') no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .hipster {
        background: url('../../content/images/insight.png') no-repeat center top;
        background-size: contain;
    }

    .reach {
        background: url('../../content/images/reach.svg') no-repeat center top;
        background-size: contain;
    }

    .genius {
        background: url('../../content/images/genius.svg') no-repeat center top;
        background-size: contain;
    }

    .genius-logo {
        background: url('../../content/images/genius_logo.svg') no-repeat center top;
        background-size: contain;
    }
}
