<div class="card-main row">

    <div class="card-view col-8 h-100">
        <div class="ins-card-header">
            <ins-insight-search [targetEntity]="'Biographics'" [textFields]="['biographicsName']"
                                [symbolField]="'biographicsImage'"
                                (selectionEmitter)="onDataSelected($event)"></ins-insight-search>
        </div>

        <div class="ins-card-body" *ngIf="entity">

            <div class="card">
                <img *ngIf="entity['biographicsImage']; else noPhoto" class="card-img-top"
                     [src]="getBase64(entity['biographicsImage'])" alt="Aucune photo associée">
                <ng-template #noPhoto>
                    <img class="card-img-top" src="" alt="Aucune photo associée">
                </ng-template>
                <div class="card-body">
                    <h5 class="card-title">{{entity['biographicsName']}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{entity['biographicsFirstname']}}</h6>
                </div>
            </div>

            <div class="ins-card-content" [ngSwitch]="currentTab">
                <div class="ins-card-nav">
                    <span (click)="currentTab = 'info'" [ngClass]="{'nav-selected selected' : currentTab === 'info'}"><fa-icon
                        [icon]="'info'"></fa-icon></span>
                    <span (click)="currentTab = 'bio-img'"
                          [ngClass]="{'nav-selected selected' : currentTab === 'bio-img'}"><fa-icon
                        [icon]="'camera'"></fa-icon></span>
                    <span (click)="currentTab = 'media-img'"
                          [ngClass]="{'nav-selected selected' : currentTab === 'media-img'}"><fa-icon
                        [icon]="'image'"></fa-icon></span>
                </div>
                <div class="ins-card-info" *ngSwitchCase="'info'">
                    <div *ngFor="let key of (entity|objectFilterNullPipe:['biographicsName','biographicsFirstname'])">
                        <small class="text-muted">{{key}}</small>
                        <p>{{entity[key] | stringTruncate:100}}</p>
                    </div>
                </div>
                <div class="ins-card-images" *ngSwitchCase="'bio-img'">
                    <div *ngFor="let item of (entityAndNeighbors|listFilterPipe:'entityType':'RawData');"
                         class="ins-card-image-item">
                        <img [src]="getBase64(item['rawDataData'])"/>
                    </div>
                </div>
                <div class="ins-card-images" *ngSwitchCase="'media-img'">
                    <div
                        *ngFor="let item of (entityAndNeighbors|listFilterPipe:'entityType':'RawData'|listFilterPipe:'rawDataSubType':'media-img');"
                        class="ins-card-image-item">
                        <img [src]="getBase64(item['rawDataData'])"/>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="card-side col-4">
        <div class="row h-50 justify-content-center align-items-center" style="max-height: 50%;"
             id="card-network-container">
            <ins-card-network *ngIf="entity" [externalId]="entityExternalId"
                              (nodeMongoIds)="setEntities($event)"></ins-card-network>
        </div>
        <div class="row h-50 justify-content-center align-items-center" style="max-height: 50%;"
             id="card-map-container">
            <ins-card-map [source]="entityAndNeighbors"></ins-card-map>
        </div>
    </div>

    <div class="ins-popover" insOverlayPosition [idTargetElement]="'card-network-container'" [position]="'TOP-RIGHT'">
        <a [routerLink]="['/',{outlets: { primary: ['network', entity['id']], side: ['ins-network-side-panel'] }}]"
           title="Envoyer en réseau">
            <fa-icon [icon]="'sitemap'"></fa-icon>
        </a>
    </div>
    <div class="ins-popover" insOverlayPosition [idTargetElement]="'card-map-container'" [position]="'TOP-RIGHT'">
        <a [routerLink]="[{outlets: { primary: ['map'], side: ['ins-map-side-panel']}}]"
           title="Envoyer en cartographie">
            <fa-icon [icon]="'globe'"></fa-icon>
        </a>
    </div>

</div>
