<div class="row justify-content-center">
    <div class="col-8 mt-lg-2">
        <form [formGroup]="createDashboardForm" role="form" novalidate (ngSubmit)="save()">
            <h2>Create a Dashboard</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" for="field_dashboardTitle">Titre du dashboard</label>
                    <input type="text" formControlName="dashboardTitle" class="form-control" name="dashboardTitle"
                           id="field_dashboardTitle"/>
                    <div
                        [hidden]="!(f.dashboardTitle?.dirty && f.dashboardTitle?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!f.dashboardTitle?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div *ngIf="dashboardParameters.visualisations">
                    <div class="mb-lg-2">
                        <label class="col-form-label-sm" for="add_visualisation">Add Visualisation</label>
                        <select class="form-control" id="add_visualisation"
                                [disabled]="dashboardParameters.visualisations.length===5"
                                (change)="addVisualisation($event.target.value)">
                            <option value="VISU_TABLE">Table</option>
                            <option value="VISU_PIE">Pie</option>
                            <option value="VISU_VERT_BAR">Barre</option>
                            <option value="VISU_TIMELINE">Timeline</option>
                            <option value="VISU_MAP">Map</option>
                        </select>
                    </div>
                    <div *ngFor="let visualisation of dashboardParameters.visualisations;  let idx = index">
                        <jhi-visualisation-create-visualisation [visualisationParameters]="visualisation"
                                                                [mappingInfo]="mappingInfo"
                                                                [visualisationIndex]="idx"></jhi-visualisation-create-visualisation>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="cancel()">
                    <fa-icon [icon]="'ban'"></fa-icon>
                    &nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="createDashboardForm.invalid"
                        class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>
                    &nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
