/////////////////////////////////////////////////////////////////////////
/////////////////////// BLACK/GREY THEME ////////////////////////////////
/////////////////////////////////////////////////////////////////////////

/*$navbar-background-color: #353d47;
$network-background-color: #576475;
$main-background-color: #353d47;

// Side Panel
$sidepanel-background-color: rgba(87, 100, 117, 0.9);
$sidepanel-title-background-color: white;
$sidepanel-title-color: #003e80;
$side-list-element-background-color: #7e899a;
$side-list-element-background-color-hover: #7b8c9d;

// [Side] Quickview
$qv-property-background-color: white;

// [Side] EventThread
$et-header-background-color: #f2f2f2;

// [Side] Tools
$tools-element-background-color-hover: #7b8c9d;*/

/////////////////////////////////////////////////////////////////////////
/////////////////////// BLUE THEME //////////////////////////////////////
/////////////////////////////////////////////////////////////////////////

$navbar-background-color: #369;
$network-background-color: #e4e5e6;
$main-background-color: #e4e5e6;

// Side Panel
$sidepanel-background-color: rgba(51, 102, 153, 0.9);
$sidepanel-title-background-color: white;
$sidepanel-title-color: #003e80;
$side-list-element-background-color: rgb(102, 153, 204);
$side-list-element-background-color-hover: rgb(83, 140, 198);

// [Side] Quickview
$qv-property-background-color: white;

// [Side] EventThread
$et-header-background-color: #f2f2f2;

// [Side] Tools
$tools-element-background-color-hover: rgb(83, 140, 198);
