@import 'bootstrap-variables';

/* ==============================================================
Bootstrap tweaks
===============================================================*/

body,
h1,
h2,
h3,
h4 {
    font-weight: 300;
}

a {
    // color: #533f03;
    color: #0056b3;
    font-weight: bold;
}

a:hover {
    // color: #533f03;
    color: #003e80;
    font-weight: bold;
    /* make sure browsers use the pointer cursor for anchors, even with no href */
    cursor: pointer;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */
.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid green;
}

.ng-invalid:not(form) {
    border-left: 5px solid red;
}

/* other generic styles */

.jh-card {
    padding: 1.5%;
    margin-top: 20px;
    border: none;
}

.error {
    color: white;
    background-color: red;
}

.pad {
    padding: 10px;
}

.w-40 {
    width: 40% !important;
}

.w-60 {
    width: 60% !important;
}

.break {
    white-space: normal;
    word-break: break-all;
}

.readonly {
    background-color: #eee;
    opacity: 1;
}

.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.hand,
[jhisortby] {
    cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
    .alert {
        text-overflow: ellipsis;
        pre {
            background: none;
            border: none;
            font: inherit;
            color: inherit;
            padding: 0;
            margin: 0;
        }
        .popover pre {
            font-size: 10px;
        }
    }
    .toast {
        position: fixed;
        width: 100%;
        &.left {
            left: 5px;
        }
        &.right {
            right: 5px;
        }
        &.top {
            top: 55px;
        }
        &.bottom {
            bottom: 55px;
        }
    }
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* ==========================================================================
entity tables helpers
========================================================================== */

/* Remove Bootstrap padding from the element
http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
@mixin no-padding($side) {
    @if $side == 'all' {
        .no-padding {
            padding: 0 !important;
        }
    } @else {
        .no-padding-#{$side} {
            padding-#{$side}: 0 !important;
        }
    }
}

@include no-padding('left');
@include no-padding('right');
@include no-padding('top');
@include no-padding('bottom');
@include no-padding('all');

/* bootstrap 3 input-group 100% width
http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min {
    width: 1% !important;
}

/* Makes toolbar not wrap on smaller screens
http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > {
    dd {
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 768px) {
    .row.jh-entity-details > {
        dt {
            margin-bottom: 15px;
        }
        dd {
            border-bottom: 1px solid #eee;
            padding-left: 180px;
            margin-left: 0;
        }
    }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default,
.uib-datepicker-popup > li > div.uib-datepicker > table .btn-default {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup > li > div.uib-datepicker > table:focus {
    outline: none;
}

.thread-dump-modal-lock {
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* jhipster-needle-scss-add-main JHipster will add new css style */

.flex-global-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.flex-global-slave {
    flex-grow: 0;
}

.flex-global-master {
    display: flex;
    height: 100%;
    flex-grow: 2;
    flex-direction: row;
    justify-content: center;
    overflow: auto;
}

.flex-master {
    flex-grow: 1;
    height: 100%;
    overflow: auto;
}

.flex-container-container {
    display: flex;
    flex-wrap: wrap;
}

.ins-wrapper {
    padding: 1.5%;
    border: none;
}

html,
body {
    height: 100%;
    margin: 0;
}

#wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.flex-row-div {
    display: flex;
    flex-grow: 1;
}

.flex-column-div {
    display: flex;
    flex-direction: column;
}

.side-component {
    position: fixed;
    right: 0px;
    top: 200px;
    background-color: red;
    z-index: 200;
    height: 100%;
    width: 20%;
    overflow: auto;
}

.filler {
    background-color: red;
    overflow: auto;
    height: 100%;
    width: 100%;
    display: flex;
    flex-grow: 1;
}

/* ==========================================================================
Custom network css
========================================================================== */

.popover-menu {
    z-index: 2;
    min-width: 25px;
    max-height: 30vh;
    position: absolute;
    background-color: white;
    align-items: stretch;
}

.popover-side-menu-container {
    z-index: 3;
    position: absolute;
    background-color: white;
}

.popover-side-menu {
    align-items: stretch;
    flex-direction: row !important;
}

.popover-menu-item {
    cursor: pointer;
    font-size: larger;
    margin: 0 !important;
    padding: 0.5rem 1.25rem !important;
}

.popover-menu-item:hover {
    background-color: #f2f2f2;
}

.popover-menu-item > p {
    display: inline-block;
    vertical-align: middle;
}

.selected {
    background-color: rgb(128, 255, 128) !important;
}

.selected:hover {
    background-color: rgb(128, 255, 128) !important;
}

/* ==========================================================================
Custom map css
========================================================================== */

.event-thread-container {
    overflow: auto;
    height: 85%;
    width: 100%;
    color: black;
    font-size: 1rem;
}

.event-thread-card {
    margin: 1px;
}

.event-thread-top {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
}

.event-thread-image {
    max-height: 7rem;
}

.event-thread-title {
    color: #0056b3 !important;
    font-size: 1.05rem;
}

/* ==========================================================================
Map custom CSS
========================================================================== */
.map-container {
    margin: 0 !important;
    padding: 0 !important;
}

/* ==========================================================================
SidePannel custom CSS
========================================================================== */

.side {
    width: 408px;
    position: absolute;
    height: 100vh;
    right: 0;
    z-index: 100;

    background-color: rgba(87, 100, 117, 0.9);

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.side-title {
    color: #003e80;
    width: 100%;
    height: 8%;
    font-size: larger !important;

    background-color: white;

    border-bottom: 1px solid rgb(87, 100, 117);

    display: flex;
    align-items: center;
    justify-content: center;
}

.side-buttons {
    position: absolute;
    top: 100px;
    width: 23px;
    height: 336px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 101;
}

.side-buttons > span {
    cursor: pointer;
    height: 48px;
    width: 100%;
    background-color: rgb(255, 255, 255);

    display: flex;
    align-items: center;
    justify-content: center;
}

.side-buttons > span:first-child {
    margin-bottom: 48px;
    background-color: rgba(255, 255, 255, 0.55);
}

.isDisplayed {
    border: 2px solid #003e80;
    border-right: none;
}

.side-container {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    color: white;
}

.side-main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.side-main > h6 {
    margin-left: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.tools {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    padding-bottom: 0.2rem;
}

.tools > span {
    padding: 0.3rem 1.5rem;
    text-align: center;
    cursor: pointer;
}

.tools > span:hover {
    background-color: #7b8c9d;
}

.side-secondary {
}

.side-element {
    border-bottom: 1px solid;
    padding: 0.3rem;
}

.side-list-container {
    font-size: 1rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    overflow: auto;
    padding: 0.5rem;
}

.side-list-container > div {
    padding: 0.4rem;
    min-height: 2rem;
    background-color: #7e899a;

    display: flex;
    align-items: center;
    margin-bottom: 1px;
}

.side-list-container > div:hover {
    background-color: #7b8c9d;
}

.side-list-container > div > span {
    padding: 0 0.2rem;
}

.side-list-container > div > span:first-child {
    flex: 1;
}

.side-list-container > div > span:not(:first-child) {
    cursor: pointer;
}

.side-inline-form {
    font-size: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.side-input-container {
    flex: 1 0 50%;
    padding: 0.3rem;
    margin-bottom: 2px;
}

.side-input-container > input {
    width: 100%;
}

.side-input-container > label {
    margin-bottom: 0 !important;
}

/* ==========================================================================
Dessin custom CSS
========================================================================== */

.drawing-layers {
    max-height: 70%;
}

/* ==========================================================================
Dashboard custom CSS
========================================================================== */

.dashboard-list {
    max-height: 90%;
}
