@import 'bootstrap-variables';
@import 'custom-insight-variables';

/* ==============================================================
Bootstrap tweaks
===============================================================*/

body,
h1,
h2,
h3,
h4 {
    font-weight: 300;
}

a {
    color: $a-color;
    font-weight: bold;
}

a:hover {
    color: $a-color-hover;
    font-weight: bold;
    /* make sure browsers use the pointer cursor for anchors, even with no href */
    cursor: pointer;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */
.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid green;
}

.ng-invalid:not(form) {
    border-left: 5px solid red;
}

/* other generic styles */

.jh-card {
    padding: 1.5%;
    margin-top: 20px;
    border: none;
}

.error {
    color: white;
    background-color: red;
}

.pad {
    padding: 10px;
}

.w-40 {
    width: 40% !important;
}

.w-60 {
    width: 60% !important;
}

.break {
    white-space: normal;
    word-break: break-all;
}

.readonly {
    background-color: #eee;
    opacity: 1;
}

.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.hand,
[jhisortby] {
    cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
    .alert {
        text-overflow: ellipsis;

        pre {
            background: none;
            border: none;
            font: inherit;
            color: inherit;
            padding: 0;
            margin: 0;
        }

        .popover pre {
            font-size: 10px;
        }
    }

    .toast {
        position: fixed;
        width: 100%;

        &.left {
            left: 5px;
        }

        &.right {
            right: 5px;
        }

        &.top {
            top: 55px;
        }

        &.bottom {
            bottom: 55px;
        }
    }
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* ==========================================================================
entity tables helpers
========================================================================== */

/* Remove Bootstrap padding from the element
http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
@mixin no-padding($side) {
    @if $side == 'all' {
        .no-padding {
            padding: 0 !important;
        }
    } @else {
        .no-padding-#{$side} {
            padding-#{$side}: 0 !important;
        }
    }
}

@include no-padding('left');
@include no-padding('right');
@include no-padding('top');
@include no-padding('bottom');
@include no-padding('all');

/* bootstrap 3 input-group 100% width
http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min {
    width: 1% !important;
}

/* Makes toolbar not wrap on smaller screens
http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > {
    dd {
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 768px) {
    .row.jh-entity-details > {
        dt {
            margin-bottom: 15px;
        }

        dd {
            border-bottom: 1px solid #eee;
            padding-left: 180px;
            margin-left: 0;
        }
    }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default,
.uib-datepicker-popup > li > div.uib-datepicker > table .btn-default {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup > li > div.uib-datepicker > table:focus {
    outline: none;
}

.thread-dump-modal-lock {
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* jhipster-needle-scss-add-main JHipster will add new css style */

.flex-global-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.flex-global-slave {
    flex-grow: 0;
}

.flex-global-master {
    display: flex;
    height: 100%;
    flex-grow: 2;
    flex-direction: row;
    justify-content: center;
    overflow: auto;
}

.flex-master {
    flex-grow: 1;
    height: 100%;
    overflow: auto;
}

.flex-container-container {
    display: flex;
    flex-wrap: wrap;
}

.ins-wrapper {
    padding: 1.5%;
    border: none;
}

html,
body {
    height: 100%;
    margin: 0;
}

#wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.flex-row-div {
    display: flex;
    flex-grow: 1;
}

.flex-column-div {
    display: flex;
    flex-direction: column;
}

.side-component {
    position: fixed;
    right: 0;
    top: 200px;
    background-color: red;
    z-index: 200;
    height: 100%;
    width: 20%;
    overflow: auto;
}

.filler {
    background-color: red;
    overflow: auto;
    height: 100%;
    width: 100%;
    display: flex;
    flex-grow: 1;
}

/* ==========================================================================
Custom network css
========================================================================== */

.network-main {
    background-color: $network-background-color;
}

/* ==========================================================================
Custom card css
========================================================================== */

.card-main {
    height: 100%;
    width: 100vw;
}

.card-view {
    background-color: $card-background-color;
    border-right: 1px solid rgba(0, 0, 0, 0.125);
}

.card-side {
    > div {
        border: 1px solid rgba(0, 0, 0, 0.125);
        margin-bottom: -1px;
        padding: 0.3rem;
    }
}

.ins-card-header {
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ins-card-body {
    max-height: 90%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box;

    > .card {
        flex: 0 0 35%;
        height: 100%;
        margin-right: 2px;
    }

    > .ins-card-content {
        flex: 0 1 65%;
        max-height: 100%;
        max-width: 65%;
        margin-left: 2px;
        display: flex;
        flex-direction: column;
    }
}

.ins-card-nav {
    flex: 0 0 5%;
    min-height: 2rem;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    color: white;

    > span {
        padding: 0.5rem 1.5rem;
        background-color: $tools-element-background-color-hover;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    > span:first-child {
        border-top-left-radius: 0.25rem !important;
    }

    > span:last-child {
        border-top-right-radius: 0.25rem !important;
    }

    > span:hover,
    .nav-selected {
        border-top-left-radius: 0.25rem !important;
        border-top-right-radius: 0.25rem !important;
    }
}

.ins-card-info {
    flex: 1 1 auto;
    overflow: auto;

    > div {
        word-break: break-all;

        padding: 0.5rem 1rem;
        margin-bottom: -1px;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.125);
    }

    > div:first-child {
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }

    > div:last-child {
        margin-bottom: 0;
        border-bottom-right-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
    }
}

.ins-card-images {
    flex: 0 1 auto;
    overflow: auto;

    border-radius: 0.25rem;

    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: flex-start;

    > div {
        flex: 0 0 calc(25% - 0.2rem);
        display: flex;
        justify-content: center;
        margin: 0.1rem;
    }

    > .ins-card-image-item {
        background-color: rgba(255, 255, 255, 0.5);
        border: 0.2rem solid rgba(255, 255, 255, 0.5);

        height: 5.2rem;
        width: 5.2rem;
        overflow: hidden;
    }

    > .ins-card-image-item:hover {
        background-color: rgba(128, 255, 128, 0.5);
        border: 0.2rem solid rgba(128, 255, 128, 0.5);
    }

    > .ins-card-image-item > img {
        max-height: 5rem;
    }
}

.ins-card-network {
    height: 100%;
    border: 1px solid $card-background-color;
}

.ins-card-map {
    border: 1px solid $card-background-color;
}

/* ==========================================================================
Custom popover css
========================================================================== */
@mixin popover() {
    z-index: 1000;
    position: absolute;
    background-color: $popover-background-color;
    border: rgb(65, 75, 88);
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    color: $a-color;
}

.ins-popover {
    @include popover();

    display: flex;
    align-items: center;
    justify-content: center;

    > * {
        padding: 0.3rem 1.5rem;
        flex: 1 1 auto;
        cursor: pointer;
        border-right: 1px solid rgba(65, 75, 88, 0.2);
        border-left: 1px solid rgba(65, 75, 88, 0.2);
    }

    > a:first-child,
    > span:first-child {
        border-radius: 1rem 0 0 1rem;
        border-left: none;
    }

    > a:last-child,
    > span:last-child {
        border-radius: 0 1rem 1rem 0;
        border-right: none;
    }

    > a:only-child,
    > span:only-child {
        border-radius: 1rem;
        border-left: none;
        border-right: none;
    }

    > a:hover,
    > span:hover {
        background-color: $popover-button-background-color-hover;
        color: $a-color-hover;
    }
}

/* ==========================================================================
Custom global css
========================================================================== */

.selected {
    background-color: rgb(128, 255, 128) !important;
}

.selected:hover {
    background-color: rgb(128, 255, 128) !important;
}

.selected2 {
    border: 0.2rem solid #ff0000 !important;
}

.selected2:hover {
    border: 0.2rem solid #cc0000 !important;
}

/* ==========================================================================
Div with arrow end in css
========================================================================== */

.arrow-triangle {
    text-align: left;
    margin-top: -0.5em;
}

.arrow-triangle:before,
.arrow-triangle:after {
    content: '';
    position: absolute;
    background-color: inherit;
}

.arrow-triangle,
.arrow-triangle:before,
.arrow-triangle:after {
    width: 1em;
    height: 1em;
    border-top-right-radius: 30%;
}

.arrow-triangle.left {
    transform: rotate(-90deg) skewX(-30deg) scale(1, 0.866);
}

.arrow-triangle.right {
    transform: rotate(-30deg) skewX(-30deg) scale(1, 0.866);
}

.arrow-triangle:before {
    transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707) translate(0, -50%);
}

.arrow-triangle:after {
    transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
}

/* ==========================================================================
Custom entity presentation css
========================================================================== */

.event-thread-container {
    overflow: auto;
    width: 100%;
    color: black;
    font-size: 1rem;
}

.event-thread-card {
    margin: 1px;
    position: inherit;
}

.event-thread-header {
    background-color: $et-header-background-color;
    display: flex;
    justify-content: center;
}

.event-thread-image {
    max-height: 7rem;
}

.event-thread-title {
    color: #0056b3 !important;
    font-size: 1.05rem;
}

/* ==========================================================================
Custom map css
========================================================================== */

.map-container {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
}

/* ==========================================================================
SidePannel custom CSS
========================================================================== */

.side {
    width: 408px;
    position: absolute;
    height: 100vh;
    right: 0;
    z-index: 100;

    background-color: $sidepanel-background-color;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.side-title {
    color: $sidepanel-title-color;
    width: 100%;
    height: 8%;
    font-size: larger !important;

    background-color: $sidepanel-title-background-color;

    border-bottom: 1px solid rgb(87, 100, 117);

    display: flex;
    align-items: center;
    justify-content: center;
}

.side-buttons {
    position: absolute;
    top: 100px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    z-index: 90;
}

.side-buttons > span {
    cursor: pointer;
    height: 48px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.55);

    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;

    padding: 1.5rem 0.6rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.side-buttons > span:first-child {
    margin-bottom: 48px;
    background-color: rgba(255, 255, 255, 0.55);
}

.side-buttons > span:hover {
    background-color: rgba(255, 255, 255, 0.75);
}

.isDisplayed {
    border: 2px solid #003e80;
    border-right: none;
}

.side-container {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    color: white;
}

.side-main {
    flex: 1;
    display: flex;
    flex-direction: column;

    > h6 {
        margin-left: 0.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

.side-secondary {
    flex: 0;
}

.tools {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    padding-bottom: 0.2rem;

    > span {
        padding: 0.3rem 1.5rem;
        text-align: center;
        cursor: pointer;
    }

    > span:hover {
        background-color: $tools-element-background-color-hover;
    }
}

.noInteract {
    cursor: inherit;
}

.noInteract:hover {
    background-color: inherit !important;
}

.side-element {
    border-bottom: 1px solid;
    padding: 0.3rem;

    > h6 {
        padding-bottom: 0.2rem;
        padding-top: 0.2rem;
        margin-bottom: 0 !important;
    }
}

@mixin side-main-content($direction, $align) {
    font-size: 1rem;
    width: 100%;

    display: flex;
    flex-direction: $direction;
    align-items: $align;

    overflow: auto;
    padding: 0.5rem;
}

.side-list-container {
    @include side-main-content(column, stretch);

    > div {
        padding: 0.4rem;
        min-height: 2rem;
        background-color: $side-list-element-background-color;

        display: flex;
        align-items: center;
        margin-bottom: 1px;

        > span {
            padding: 0 0.2rem;
        }

        > span:first-child {
            flex: 1;
        }

        > span:not(:first-child) {
            cursor: pointer;
        }
    }

    > div:hover {
        background-color: $side-list-element-background-color-hover;
    }
}

.side-text-container {
    @include side-main-content(column, stretch);

    > p,
    > span {
        padding: 0 0.2rem;
        flex: 1;
    }
}

.side-grid-container {
    @include side-main-content(row, center);
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: flex-start;

    > * {
        // 25% - 2*margin pour remplir toute la largeur sans dépasser
        flex: 0 0 calc(25% - 0.2rem);
        display: flex;
        justify-content: center;
        margin: 0.1rem;
    }

    > .symbol {
        background-color: white;
        border: 0.2rem solid white;
        height: 5.2rem;
        width: 5.2rem;
        overflow: hidden;
    }

    > .symbol:hover {
        background-color: red;
        border: 0.2rem solid red;
    }
}

.green-select::selection {
    background: #009e30 !important;
    color: #fff;
    text-shadow: none;
}

.red-select::selection {
    background: red;
    color: #fff;
    text-shadow: none;
}

.side-inline-form {
    font-size: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.side-input-container {
    flex: 1 0 50%;
    padding: 0.3rem;
    margin-bottom: 2px;

    > input {
        width: 100%;
    }

    > select {
        width: 100%;
    }

    > label {
        margin-bottom: 0 !important;
    }
}

/* ==========================================================================
QuickView custom CSS
========================================================================== */
.qv-property-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: $qv-property-background-color;

    padding: 0.3rem;
    margin-bottom: 1px;

    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.15rem;
}

.qv-property-container > div {
    width: 100%;
}

.qv-property-container > div:first-child {
    flex: 1 0 20%;
    min-height: 1.2rem;
    font-weight: 600;
    padding: 0.2rem 0.2rem 0 0.2rem;

    color: #0056b3;
    font-size: 1.05rem;
}

.qv-property-container > div:last-child {
    flex: 1 0 auto;
    font-size: 1rem;
    padding: 0.2rem;
}

/* ==========================================================================
Dessin custom CSS
========================================================================== */

/* ==========================================================================
Dashboard custom CSS
========================================================================== */

.dashboard-list {
    max-height: 90%;
}

/* ==========================================================================
Clickable entities CSS
========================================================================== */
.clickable-entity-container {
    .location {
        color: red !important;
    }

    .rawdata {
        color: pink !important;
    }

    .equipment {
        color: green !important;
    }

    .event {
        color: blue !important;
    }

    .biographics {
        color: yellow !important;
    }

    .organisation {
        color: brown !important;
    }
}

/* ==========================================================================
Modal window custom CSS
========================================================================== */
.modal-window {
    width: 300px;
    height: 300px;
    position: absolute;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: $modal-background-color;

    @media screen and (max-height: 800px), screen and (max-width: 800px) {
        width: 200px;
        height: 200px;
    }

    .modal-header {
        font-size: 1.1rem;
        font-weight: 400;
        padding: 0.3rem 1.5rem;
        color: white;
        background-color: $modal-header-background-color;
        flex: 0 0 auto;
        width: 100%;

        display: flex;
        justify-content: space-between;
    }

    .modal-header + * {
        flex: 1 0 auto;
        width: 100%;
    }
}

.modal-hidden {
    height: auto !important;
}
