<div class="process-table-container">
    <div class="table-header">
        <span>Index</span>
        <span>Id Bio</span>
        <span>Name</span>
        <span>Surname</span>
        <span class="process-number" title="Url Hit Count"><fa-icon [icon]="'external-link-square-alt'"></fa-icon> Urls</span>
        <span class="process-number" title="Image Hit Count"><fa-icon [icon]="'image'"></fa-icon> Images</span>
    </div>
    <div class="table-body">
        <div class="table-row" *ngFor="let file of getProcessedFiles()|async; let i = index;" style="cursor: pointer;">
            <span>{{i}}</span>
            <span>{{file.externalBioId}}</span>
            <span>{{file.name || 'No Name'}}</span>
            <span>{{file.surname || 'No Surname'}}</span>
            <span class="process-number" insClassDiff
                  [differentialStatus]="file.processStatus ? file.processStatus.urlHitCountDiff : 'stable'">
                {{file.processStatus ? file.processStatus.urlHitCount : 0}}</span>
            <span class="process-number" insClassDiff
                  [differentialStatus]="file.processStatus ? file.processStatus.imageHitCountDiff : 'stable'">
                {{file.processStatus ? file.processStatus.imageHitCount : 0}}</span>
        </div>
    </div>
</div>
